<! DOCTYPE html>
<html>
    <head>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/style.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
        <title>About Authorensics</title>
    </head>
    <body>
        <nav>
            <h1><a href="/">Authorensics</a></h1>
      </nav>
      <div id="content" class="about-content">
          <h2>About Authorensics </h2>
          <p>By Philipp Steinmann, Richard Zhan, Steven Zabolotny, Ziwei Ye </p>

          <a href="https://github.com/I-A-I/authorensics">GitHub Repository</a>
          <br>
          <a href="https://www.youtube.com/watch?v=XksrKfxEprg&feature=youtu.be">Demo Video</a>

          <p>An easily usable tool for anonymous author attribution, drawing sample texts from Facebook messaging. If you have an anonymous text and several candidate authors, authorensics uses one of two algorithms to calculate the most likely author. </p>

          <p> The first algorithm is the Source Code Authorship Profile (SCAP) method (as described in "Identifying Authorship by Byte-Level N-Grams"). The second algorithm is the Visualizable Evidence-Driven Approach (VEA) to Attribution, as described in a paper of the same name. </p>

          <p><strong>Dependencies</strong> </p>

          <p> This program is a Flask server. </p>

          <p> Packages needed: </p>
            <ul>
                <li>flask</li>
                <li>scipy</li>
                <li>nltk (with "Punkt" and "Maxent" models installed) </li>
          </ul>
          <p>Stuyvesant High School, Software Development Final Project 2015 </p>
    </div>
    </body>
</html>
