<! DOCTYPE html>
<html>
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <center>
      <div id="content">
	<h1>Authorensics</h1>
	<form class="pure-form" method="POST">
        <fieldset>
            <!-- 
          <h3>Which algorithm?</h3>
          <label>
              <input type="radio" name="algorithm" value="scap" checked>
              Source Code Authorship Profile (SCAP)
          </label>
          <br>
          <label>
              <input type="radio" name="algorithm" value="vea">
              Visualizable Evidence-Driven Approach (VEA)
          </label>
          !-->
          <h3>Enter anonymous text </h3>
          <textarea name="anon" style="width:559px; height:107px"> </textarea>

            <hr>
            <h3>Enter comparison texts</h3>
            <button type="button" class="pure-button" id="chat">Add Facebook Chat</button>
            <button type="button" class="pure-button" id="addc">Add Plaintext</button>
            <br>
            <div id="comp">
            </div>
            <br><br>
            <input id="submit" class="pure-button pure-button-primary pure-button-disabled" type="submit" value="Find Author"></input>
	  </fieldset>
	</form>
      </div>
    </center>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1577102165903073',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="static/index.js"></script>
  </body>
</html>
