<html>
  <head>
    <style>
      .bordered {
      border-style:solid;
      border-width:1px;
      }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>
    <center>
      <div id="content">
	<h1>Authorensics</h1>
	<form class="pure-form" method="POST">
	  <fieldset>
	    <h3>How do you want to obtain the anonymous text?</h3>
	    <button type="button" class="pure-button pure-button-primary" id="chat">Use FaceBook Chat</button>
	    <button type="button" class="pure-button pure-button-primary" id="type">Use Type/Paste</button>
	    <br><br>
	    <div id="a"></div>
	    <div id="comp">
	      <textarea name="1" rows="4" cols="50" style="margin-bottom:20px;">Comparison Text #1 Goes Here!</textarea>
	    </div>
	    <button type="button" class="pure-button" id="add">Add A Comparison Text Field!</button>
	    <br><br>
	    <input class="pure-button pure-button-primary" type="submit" value="Find Author"></input>
	  </fieldset>
	</form>
      </div>
    </center>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1577102165903073',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="static/index.js"></script>
  </body>
</html>
